.application-form-container {
    width: 100%;
    height: max-content;
    background: var(--background-form-create);
    margin-top: 2rem;
    align-self: flex-start;
    border-radius: 4px;
    transition: all .5s;
}

.application-form {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-top {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

.form-top-left {
    width: 70%;
    gap: 1rem;
}


.application-label {
    gap: 0.3rem;
    color: var(--text-primary);
}

.select-label {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--text-primary);
    gap: 0.3rem;
}

.select-input {
    color: black;
    height: 35px;
    max-height: 35px;
}

.application-input {
    width: 100%;
    height: 37px;
    border: none;
    border-radius: 4px;
    outline: none;
    text-indent: 10px;
    background-color: var(--background-input);
}

.application-input:focus {
    border: 3px solid #0093d3;
}

textarea {
    width: 100%;
    height: 190px;
    resize: none;
    outline: none;
    border: none;
    border-radius: 4px;
    text-indent: 10px;
    padding-top: 10px;
    background-color: var(--background-input);
}

textarea:focus {
    border: 3px solid #0093d3;
}


/* This is the style for the company block*/
.form-medium {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

.form-medium-left {
    width: 70%;
    gap: 1rem;
}

.form-bottom-left {
    width: 100%;
    display: flex;
    gap: 1rem;
}

input[type="file"] {
    display: none;
}

.file-input {
    width: 100%;
    color: var(--text-primary);
    gap: 0.3rem;
}

.file-input-block {
    width: 100%;
    height: 260px;
    background-color: var(--background-input);;
    border: none;
    border-radius: 4px;
    outline: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.file-input-block:hover {
    background-color: rgb(211, 211, 211);
}

.file-input-block p {
    color: var(--text-secondary);
}


.file-icon {
    font-size: 2.5em;
    color: var(--text-secondary);
}

.wrong-type {
    color: var(--background-danger);
}


/* This is the style for the buttons block */	
.form-btn-block {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
}

.form-btn-block button {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 4px;
    color: var(--text-primary);
    font-size: 1.2em;
}

.form-btn-block button[type="submit"] {
    background: var(--background-enable);
    cursor: pointer;
}

.form-btn-block button[type="button"] {
    background: var(--background-danger);
    cursor: pointer;
}


@media screen and (max-width: 768px){
    .form-top {
        flex-direction: column;
    }
    .form-top-left {
        width: 100%;
    }
    .form-medium {
        flex-direction: column;
    }
    .form-medium-left {
        width: 100%;
    }
    .form-btn-block button {
        width: 100%;
    }
}

