.sidebar-container {
    width: 194px;
    background-color: var(--background-secondary);
    position: fixed;
    top: 0;
    bottom: 0;
    padding-top: 89px;
    padding-left: 9px;
    padding-right: 9px;
    z-index: 820;
    overflow-y: auto;
}

.sidebar-nav {
    width: 100%;
    z-index: 820;
}

.sidebar-list {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.sidebar-list-item-link {
    width: 100%;
    color: var(--text-primary);
    text-decoration: none;
    display: block;
    padding: 14px 11px;
    margin: 2px 0;
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.sidebar-list-item-link:hover {
    background-color: var(--background-primary);
}

.sidebar-icon {
    color: var(--text-secondary);
}

@media screen and (max-width: 991px) {
    .sidebar-container {
        box-shadow: 6px 0 15px rgb(0 0 0 / 20%);
        left: -240px;
        transform: translatex(0);
        width: 220px;
        transition: .25s ease-in-out;
    }
    .sidebar-container.open {
        left: 0;
    }
}
    