@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


:root {
    --background-primary: #ffffff;
    --background-secondary: #F2F6F7;
    --background-input-search: #F2F6F7;
    --background-interactive: #1FD2FF;
    --background-interactive-hover: #00C4F5;
    --background-disable: #A7B7BE;
    --background-enable: #47C27A;
    --background-danger: #FF7777;

    --text-primary: #2b353b;
    --text-secondary: #627884;
    --accent: #8e05c2;
    --border: #333;
    --form-bg: #fff;
  }
  
  [data-theme='dark'] {
    --background-primary: #002e39;
    --background-secondary: #0f3942;
    --background-input-search: #1f434c;
    --background-interactive: #1FD2FF;
    --background-interactive-hover: #00C4F5;
    --background-disable: #A7B7BE;
    --background-enable: #47C27A;
    --background-danger: #FF7777;

    --text-primary: #fff;
    --text-secondary: #627884;
    --accent: #8e05c2;
    --border: #808080;
    --form-bg: #191919;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-start {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-start-70 {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}


h1 {
    font-size: 36px;
    font-weight: 900;
    letter-spacing: -0.04em;
    color: var(--text-primary);
}

@media screen and (max-width: 1142px){
    .flex-row {
        flex-direction: column;
        width: 100%;
    }
}